﻿@{
    ViewBag.Title = "Error";
}

<div class="container mt-5">
    <div class="alert alert-danger" role="alert">
        <h2>Error</h2>
        <p>Something went wrong in activity. Please try again later.</p>
    </div>
</div>